<form class="col-md-6 offset-md-3" id="form" action="/change-password" method="POST">

<h1>Disable Account</h1> (<a href="/users/edit">Go back</a>)

<h6 class="my-5">You are about to disable your account and therefore delete all data related to your account.
</h6>

{{#with currentUser}}
<input type="hidden" name="email" placeholder="email" id="email" value={{email}}>

  <div class="form-group">
    <label for="currentPassword">Enter you Current Password</label>
    <input name="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Current Password">
  </div>

 <div class="form-group">
    <label for="password">Enter you New Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="New Password">
  </div>

 <div class="form-group">
    <label for="password">Confirm New Password</label>
    <input name="passwordCheck" type="password" class="form-control" id="passwordCheck" placeholder="Repeat Password">
  </div>

  

  <button class="btn btn-primary">Change Password</button>
{{/with}}

</form>