<h1>Ahoy, there</h1>
<p>Welcome to our Room APP, here you can find wonderful rooms to stay as long as you want to.</p>

<h2>Take part on this community!</h2>
<p><b>Sign up</b> right now and register your room!</p>

<h2>Earn easy money!</h2>
<p>By sharing a room you can earn real money!</p>

<h1>Check out out amazing community room!</h1>

{Map PlaceHolder}<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUzQSbIfOwTr0HS19s5xIqZDCa368CLsDYk2op3cIflsx0NGF8">